<main class="container">
  <form [formGroup]="cadastroForm" class="form-group m-3" (ngSubmit)="buscaLivroPorId()" #formDir="ngForm">
    <div class="mb-2">
      <label for="id" class="form-label">Buscar Autor por Id</label>
      <input type="text" class="form-control" id="id" name="id" placeholder="Digite o id do autor que deseja buscar" formControlName="id"
        required>
    </div>
    <button type="submit" class="btn btn-primary m-2">Buscar</button>
  </form>

  <table class="m-3 table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Id Autores</th>
      </tr>
    </thead>

    <tbody  *ngIf="todos" >
      <tr *ngFor="let livro of livros">
        <td>{{livro.id}}</td>
        <td>{{livro.titulo}}</td>
        <td *ngFor="let autor of livro.autores">{{autor.nome}}</td>
        <div class="icone">
          <button type="button" (click)="deleta(livro.id)"><i class="fa fa-solid fa-trash"></i></button>
        </div>
      </tr>
    </tbody>

    <tbody *ngIf="!todos" class="m-3" >
      <tr>
        <td>{{livroOutput.id}}</td>
        <td>{{livroOutput.titulo}}</td>
        <td>{{livroOutput.autores}}</td>
      </tr>
      <div class="icone">
        <button type="button" (click)="deleta(livroOutput.id)"><i class="fa fa-solid fa-trash"></i></button>
      </div>
      <button (click)="listaTodos()" class="btn btn-primary">Listar Todos</button>
    </tbody>
  </table>
</main>
