<div class="container">
  <h2 class="text-center">Alterar Livro</h2>
  <form [formGroup]="cadastroForm" class="form-group mt-3" (ngSubmit)="alterar()" #formDir="ngForm">
    <div class="mb-3">
      <label for="id" class="form-label">Id Livro</label>
      <input
        type="number"
        class="form-control"
        id="id"
        name="id"
        placeholder="Digite o id do Livro que deseja alterar"
        formControlName="id"
        required
        >
    </div>

    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="titulo"
        placeholder="Digite o titulo"
        formControlName="titulo"
        required
        >

      <div *ngIf="cadastroForm.get('titulo')?.errors?.['required'] && formDir.submitted" class="erro-validacao">
        <p>O Titulo é Obrigatório!</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="anoLancamento" class="form-label">Ano Lançamento</label>
      <input
        type="number"
        class="form-control"
        id="anoLancamento"
        name="anoLancamento"
        placeholder="Digite o Ano Lançamento"
        formControlName="anoLancamento"
        >
      <div *ngIf="cadastroForm.get('anoLancamento')?.errors?.['required']&& formDir.submitted" class="erro-validacao">
        <p>O Ano Lançamento é Obrigatório.</p>
      </div>
    </div>

    <div class="mb-3" >
      <label for="autores" class="form-label">Ids Autores</label>
      <input
        type="number"
        class="form-control"
        id="autores"
        name="autores"
        placeholder="Digite os Ids dos Autores"
        formArrayName="autores"
        required
        >
        <!-- <button (click)="adicionaIdsAutores()" type="button" class="btn btn-primary">Adicionar</button> -->
      <div *ngIf="cadastroForm.get('autores')?.errors?.['required'] && formDir.submitted" class="erro-validacao">
        <p>É necessário no mínimo um Autor!</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

